<p id="notice"><%= notice %></p>
<h1 style="color:red;text-align:center;font-family:'Georgia'">Scoreboard</h1>

<table id='scoreboard'>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Players</th>
      <th>Point</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= user.name %></td>
        <td><%= user.point %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>