<h1 style="color:red;text-align:center;font-family:'Georgia';font-style: italic">Add the Match winners</h1>
<br><br><br>
<%= render 'form', increase_point: @increase_point %>

<%= link_to 'Back', increase_points_path %>
