// Place all the styles related to the MatchPredections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  // padding: 0 1%;
  // padding-left:20vw;
  /* viewport width's 20%*/
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 20px 10px 0 rgba(31, 30, 30, 0.5);
  transition: 0.1s;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 50%;
  margin-left: 50%;
  /* Added */

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.center_card {
  padding: 12px 16px;
}

.text_center {
  text-align: center
}

.button {
  background-color: #dbe920;
  /* Green */
  // border: none;
  // color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.form-control {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

.name_class {
   color: green;
   text-transform: uppercase;
   font-weight: bold;
   position: relative;
}

.save_button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top:50%;
  left:47%;
}