// Place all the styles related to the MatchPredections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 35.33%;
  // padding: 0 1%;
  // padding-left:10vw;
  // /* viewport width's 20%*/
   margin-right:1%;
   margin-bottom: -4vw;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 20px 50px 0 rgba(31, 30, 30, 0.5);
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 50%;
  margin-left: 50%;
  border-radius: 15px;
  
  /* Added */

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(16, 35, 46, 0.733);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.center_card {
  padding: 12px 16px;
}

.text_center {
  text-align: center
}

.button {
  background-color: #20c1e9;
  /* Green */
  border-radius: 55px ;
  // color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  // font-weight: bold;
  // float: right;
}

.captitalize {
  text-transform: capitalize;
}

.form-control {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

.name_class {
   color: green;
   text-transform: uppercase;
   font-weight: bold;
   position: relative;
}

.save_button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  border-radius: 55px;
  // top:50%;
  // left:44%;
}

body {
  // background-color: #e4f1f2;
  background: linear-gradient(rgba(228, 241, 242, 0.9), rgba(228, 241, 242, 0.5)),image-url('bg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  // background-color: #15c255;
  border-radius: 50%;
  color: green
}