// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#scoreboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#scoreboard td,
#scoreboard th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#scoreboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

#scoreboard tr:hover {
  background-color: #ddd;
}

#scoreboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 15px;
}